
DIV.scroll { overflow: hidden; width: 420px; padding: 0px; border:#6394CE 1px solid;  background-color: #ffffff;margin-right:2px;overflow:auto ;overflow-x:scroll;overflow-y:hidden; }

DIV.scroll2 { position:relative;overflow:auto ;overflow-x:scroll;overflow-y:hidden;width: 482px; padding: 0px; background-color: #ffffff;border:1px #6394CE solid; }

.leftTable{border:1px solid #6394CE; border-collapse: collapse;font-size:12px;border-left:0px; border-right:0px; border-top:0px;}
.leftTable td{border:1px solid #aaa;border-left:0px; }

.left-table-top td{border-top:0px;}

.rightTable td{border:1px solid #aaa; border-top:0px; border-left:0px;}
.rightTable {border:1px solid #aaa; border-collapse: collapse;font-size:12px; border-top:0px; border-left:0px;}

.right-table-top,.left-table-top{ background:url('images/subheader_bg.png') repeat-x ; height:24px; line-height:24px; }

.caption { background:url('images/subheader_bg.png') repeat-x ; height:22px; line-height:22px; font-size:12px; color:#283B56;}

.rightTable-TaskItem {border:1px solid #aaa; border-collapse: collapse;font-size:12px; border-top:0px; border-left:0px;}
.rightTable-TaskItem  td{border:1px solid #aaa; border-top:0px; border-left:0px;}

.right-date{ height:22px; line-height:22px;  border-left:0px;}

.ghead { border-top: #efefef 1px solid; font-size: 12px; border-left: #efefef 1px solid; height: 20px }
.gdatehead { height: 20px }
.gname {height: 20px }

.task{ cursor:default; height:20px; line-height:20px;}
.currenTask{ background:#FFFF80; color:red;}
.projectame{color:#10428C;padding-left:20px; font-weight:bold;}
.taskname{color:#1F376D; text-decoration: none; font-family:ו}
.taskhover{background:#ffffaa;}