@charset "utf-8";
/* CSS Document */

.xiucai-qqmsg-layer,
.xiucai-qqmsg-layer .gtl_ico_succ,
.xiucai-qqmsg-layer .gtl_ico_fail,
.xiucai-qqmsg-layer .gtl_ico_hits,
.xiucai-qqmsg-layer .gtl_ico_clear,
.xiucai-qqmsg-layer .gtl_end{display:inline-block;height:54px;line-height:54px;font-weight:bold;font-size:14px;color:#606060;background-image:url("gb_tip_layer.png");_background-image:url("gb_tip_layer_ie6.png");background-repeat:no-repeat}
.xiucai-qqmsg-layer_wrap{width:100%;position:fixed;_position:absolute;top:46%;left:0;text-align:center;z-index:65533}
.xiucai-qqmsg-layer{background-position:0 -161px;background-repeat:repeat-x;padding:0 18px 0 9px;margin:0 auto;position:relative}
.xiucai-qqmsg-layer .gtl_ico_succ{background-position:-6px 0;left:-45px;top:0;width:45px;position:absolute}
.xiucai-qqmsg-layer .gtl_end{background-position:0 0;position:absolute;right:-6px;top:0;width:6px}
.xiucai-qqmsg-layer .gtl_ico_fail{background-position:-6px -108px;position:absolute;left:-45px;top:0;width:45px}
.xiucai-qqmsg-layer .gtl_ico_hits{background-position:-6px -54px;position:absolute;left:-45px;top:0;width:45px}
.xiucai-qqmsg-layer .gtl_ico_clear{background-position:-6px 0;left:-5px;width:5px;position:absolute;top:0}
.xiucai-qqmsg-layer .gtl_ico_loading{ width:16px;height:16px;border:0;background-image:url(loading.gif);float:left;margin:19px 10px 0 5px}