
.footer{ background: #EFEFEF;line-height: 28px;}

#sysconfig h1
{
    font-size:18px;font-family:'Microsoft YaHei';padding:0px;padding-left:20px; color:#A2A2A2; margin-bottom:5px;
}
#sysconfig .c
{
    margin:5px;border-top:2px solid #1382CE; margin-bottom:15px; padding-top:10px;
}
#sysconfig ul
{
    list-style:none;
}
#sysconfig li
{
    line-height:30px;height:30px;display: table;
}
#sysconfig li div
{
    width:140px;float:left; text-align:right;padding-right:10px;
}

.toolbar {  padding:3px; border:1px solid #ccc;margin-bottom:2px; background-color:#F4F4F4;}
/********************* 表格样式 ***********************/
.grid {	font: 12px arial, helvetica, sans-serif;border:1px solid #CCCCCC;}
.grid td {	font: 100% arial, helvetica, sans-serif; height:24px;padding:5px;}
.grid  { width: 100%; border-collapse: collapse}
.grid th { background:#E7F3FE; height:27px; line-height:27px;border:1px solid #CCCCCC; padding-left:5px;}
.grid td {	border:1px solid #CCCCCC;padding-left:5px;}

.grid2{  font-size:12px; border:1px solid #CCCCCC; border-collapse: collapse}
.grid2 td,.grid2 th{ border:1px solid #CCCCCC;padding:3px;   }
.grid2 th{background:#ccc url('/scripts/easyui/themes/gray/images/datagrid_header_bg.gif') repeat-x; height:20px;}
.grid2 tr{}

.grid3{ background-color:#E9EAEA; font-size:12px;}
.grid3 td,.tabledata th{ border:1px solid white;padding:6px;}
.grid3 tbody tr{ background-color:#F7F7F7}
.grid3 td img{ margin:0px; margin-left:3px}
.grid3 table td{ border:0px;}
