<?xml version="1.0" encoding="utf-8" ?>
<configuration>
     <connectionStrings>
        <add name="Xiucai.DbConnection" providerName="System.Data.SqlClient" 
             connectionString="server=.;uid=sa;pwd=1qaz2wsx;database=bpm"/>
            
    </connectionStrings>
    <appSettings>
        
        <!--系统名称-->
        <add key="SystemName" value="员工考勤管理系统"/>
        <!--数据库名称-->
        <add key="dbname" value="kaoqin"/>
        <!--数据库备份地址-->
        <add key="backpath" value="~/dback/"/>
        <add key="host" value=""/>
        <!--数据库连接字符串加密-->
        <add key="useEncrypt" value="false"/>
    </appSettings>
</configuration>